body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f3f2;
    transition: 0.3s;
}

header {
    background: #ff9aa2;
    color: rgb(252, 246, 246);
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

nav a {
    color: rgb(235, 9, 9);
    text-decoration: none;
    margin: 0 10px;
}

nav button {
    background: rgb(235, 9, 9);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #ffb7b2, #ffdac1);
}

.hero button {
    padding: 10px 20px;
    background: #ff6f61;
    border: none;
    color: #111010;
    cursor: pointer;
}

.products {
    padding: 50px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    background: #ff9aa2;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
}

.contact {
    background: #ffdac1;
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

input, textarea {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ff9aa2;
    color: white;
}

/* DARK MODE */
.dark {
    background: #2c2c2c;
    color: white;
}

.dark header,
.dark footer {
    background: #333;
}

.dark .card {
    background: #444;
}